# Create synthetic data for Fruit Machine Learning

In [104]:
import pandas as pd
import numpy as np

In [116]:
# Make Apples (Fruit = 0)

n=100

weight  = 135 + 15.0*np.random.rand(n)
surface = 0.6 + 0.3*np.random.rand(n)
fruit   = np.zeros(n, dtype=int)
df1 = pd.DataFrame(np.column_stack((weight,surface,fruit)), columns=['Weight', 'Surface', 'Fruit'])

# Make Oranges (Fruit = 1)

weight  = 150 + 17.0*np.random.rand(n)
surface = 0.3 + 0.3*np.random.rand(n)
fruit   = np.ones(n, dtype=int)
df2 = pd.DataFrame(np.column_stack((weight,surface,fruit)), columns=['Weight', 'Surface', 'Fruit'])

Concatentate and write as CSV file.

In [117]:
df = pd.concat([df1,df2])

df.Fruit = df.Fruit.astype(int)
df.to_csv('Fruit.csv', index=False, header=True)

df.head(15)

        Weight   Surface  Fruit
0   142.533160  0.849955      0
1   147.921747  0.624190      0
2   146.834463  0.898738      0
3   137.184578  0.715882      0
4   148.781653  0.791810      0
5   143.388058  0.692898      0
6   146.354680  0.674052      0
7   147.951084  0.734507      0
8   143.807582  0.863681      0
9   142.567792  0.856705      0
10  139.980409  0.608383      0
11  146.997601  0.615442      0
12  137.875578  0.645277      0
13  149.597692  0.755310      0
14  145.794919  0.829762      0